/* Backgrounds*/

#carrito{
    background-color: rgb(218, 217, 217);
}

.card{
    display: flex;
    border: none;
    box-shadow: none;
    background-color: rgb(218, 217, 217);
    margin-bottom: 13px; /* Separa los cards, es decir los productos del listado */
}

/* Labels e inputs */

label[for="full-name"]{
    position: absolute;
    color: blue;  /* color de first and last name*/
    left: 30px;
    top: 70px;
    background: white;
    padding: 0px 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    border-color: blue;
}

input:focus{
    border-color: blue;
    outline: none;
    border-width: 2px;
    box-shadow: 0 0 5px blue;
}

input:focus + label[for="full-name"],input:not(:placeholder-shown) + label[for="full-name"]{ /* si el placeholder no aparece es porque hay algo escrito, por lo tanto no vuelve a bajar */
    transform: translateY(-23px);
    color: blue;
}

label[for="email-address"]{
    position: absolute;
    color: blue;  /* color de first and last name*/
    left: 30px;
    top: 127px;
    background: white;
    padding: 0px 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

input:focus + label[for="email-address"], input:not(:placeholder-shown) + label[for="email-address"]{ /* si el placeholder no aparece es porque hay algo escrito, por lo tanto no vuelve a bajar */
    transform: translateY(-23px);
    color: blue;
}

label[for="coupon-code"]{
    position: absolute;
    color: blue;  /* color de first and last name*/
    left: 20px;
    top: 17px;
    background: transparent; /* chequear como hacerlo bien */
    padding: 0px 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

input:focus + label[for="coupon-code"], input:not(:placeholder-shown) + label[for="coupon-code"]{ /* si el placeholder no aparece es porque hay algo escrito, por lo tanto no vuelve a bajar */
    transform: translateY(-45px);
    color: blue;
}

input[id="coupon-code"]{
    height: 60px;
}

button[type="submit"]{
    background-color: black;
    color: white;
    border-color: black;
}

button[type="submit"]:hover{
    background-color: rgb(66, 66, 66);
    color: white;
    border-color: black;
}

/* Lista de productos */

img{
    width: 175px;
    height: 175px;
}

#producto{
    margin-left: 200px;
    margin-top: -180px;
}

#color-producto{
    margin-left: 200px;
    color: grey;
    font-size: large;
    font-weight: 400;
}

#cantidad{
    margin-left: 200px;
    margin-top: 75px;
    color: grey;
    font-size: large;
    font-weight: 400;
}

#precio{
    margin-left: 90%;
    margin-top: -180px;
}

#eliminar{
    display: inline-block; /* de esta forma respeta el margin top que puse abajo */
    margin-left: 94%;
    margin-top: 98px;
    color: grey;
    font-size: large;
}

#calculo-total{
    font-size: large;
    font-weight: 500;
    color: grey;
}

#total{
    color: black;
}

span{
    margin-bottom: 1%;
}